template(name="ooColorSwatch")
  button(class="{{classList}} {{#if isActive}}is-active{{/if}}" data-i-Color-swatch="{{oo}} ")
      span.swatch-fill(style="background-color: {{color}}")
      if showStarBadge
        i.ico-star

template(name="ooColorPicker")
  .oo-picker-wrapper
    .header-section
      h4 {{hue}}, {{saturation}}%, {{lightness}}%, {{alpha}}
    .header-section
      h4 {{rgbString}} {{hslString}} {{hexString}}
    .header-section
      input.js-colorInput(value="")
    .swatches
      +ooColorSwatch classList="js-colorSwatch" color=hslaString oo="no-transition"
      +ooColorSwatch classList="js-setPreviuosColor" color=prevColor oo="no-transition"
      button.js-lightenColor(btn="neutral-dim") +
      button.js-darkenColor(btn="neutral-dim") -
      button.js-saturateColor(btn="neutral-dim") +
      button.js-desaturateColor(btn="neutral-dim") -
    .hsl-controls
      .colorSliderWrapper
        input.js-updateHue.js-enableDrag.ooSlide(type="range" min="0" max="360" value=hue step="1" $dyn = hueGradient )
      .colorSliderWrapper
        input.js-updateSaturation.js-enableDrag.ooSlide(type="range" min="0" max="100" value=saturation step="1" $dyn = saturationGradient)
      .colorSliderWrapper
        input.js-updateLightness.js-enableDrag.ooSlide(type="range" min="0" max="100" value=lightness step="1" $dyn = lightnessGradient)
      .colorSliderWrapper
        input.js-updateAlpha.js-enableDrag.ooSlide(type="range" min="0" max="100" value=alphaPercent step="1" $dyn = alphaGradient)
    .header-section()
      h4 History
      button.js-setHistoryAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
      button.js-setHistoryAction(btn="tiny neutral-dim" data-action="select") Select
    each historyColors
      +ooColorSwatch classList="js-setHistoryColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    .header-section()
      h4 Favorites
    each favoriteColors
      +ooColorSwatch classList="js-setFavoriteColor" oo="push small" color=color isActive=isSelectedColor
    .header-section
      h4 Random
        each randomHueButtons
          button.js-setRandomColorType(btn="neutral-dim push-all capitalize" data-color="{{this}}") {{this}}
      button.js-setRandomAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
      button.js-setRandomAction(btn="tiny neutral-dim" data-action="select") Select
    each randomColors
      +ooColorSwatch classList="js-setRandomColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- .header-section
    //-   h4 Schemes
    //-   button.js-setSchemeAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
    //-   button.js-setSchemeAction(btn="tiny neutral-dim" data-action="select") Select
    //- h5.scheme-title Analagous
    //- each schemeAnalagous
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- h5.scheme-title Complements
    //- each schemeComplements
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- h5.scheme-title Split Complements
    //- each schemeSplitComplements
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- h5.scheme-title Triadic
    //- each schemeTriadic
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- h5.scheme-title Tetradic
    //- each schemeTetradic
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor
    //- h5.scheme-title Monochromatic
    //- each schemeMonochromatic
    //-   +ooColorSwatch classList="js-setSchemeColor" oo="push small" color=color isActive=isSelectedColor showStarBadge=isFavoritedColor

